<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body></head>

<div style="border-radius: 8%; width: 200px; height: 50px; background-color: blueviolet;  text-align: center; margin: auto; padding-top: 25px" ><a href="" style="text-decoration: none; color: brown; ">login</a></div><br>
<div style="border-radius: 8%; width: 200px; height: 50px; background-color: blueviolet;  text-align: center; margin: auto; padding-top: 25px" ><a href="/register/" style="text-decoration: none; color: brown;">register</a></div>
</body>
</html>