<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>
<form method="POST" action="/data/">
{% csrf_token %}

    name : <input style="background-color: aqua" type="text" name="name"><br>
    username : <input style="background-color: aqua" type="text" name="user"><br>
    password : <input style="background-color: aqua" type="password" name="passw"><br>
    <button style="padding: 20px; background-color: antiquewhite ; border-radius: 10%"  type="submit">sign up!</button>
</form>

</body>
</html>