<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: linear-gradient(to right,rgba(0, 212, 80, 0.71), rgba(0, 212, 202, 0.71) ); padding:0px; margin:0px;" >
<div style="top:0; height:60px; background-color: darkslategray; border-style: hidden; border:0px;">
    <div style="display: table-cell; border-style: hidden; height: 60px; text-align: center; padding: 20px; color:white">Home</div>
    <div style="display: table-cell; border-style: hidden; height: 60px; text-align: center; padding: 20px; color:white">Home</div>
    <div style="display: table-cell; border-style: hidden; height: 60px; text-align: center; padding: 20px; color:white">Sign up or Sign in</div>
    <form method="post" action="/upload/" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myFile">
        <button type="submit">upload</button>
    </form>
</div>
</body>
</html>